footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    color: #000;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 3rem;
}
.social-media {
    margin: auto;
}

.social-media > a > i {
    margin: 1rem;
    font-size: 1.5rem;
}

.copyright {
    margin: auto;
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 1rem;
    }

    .social-media > a > i {
        margin: 0.5rem;
        font-size: 1rem;
    }
}